{% extends "all_html/dashboard.html" %}
{% block title %}
  Manager Dashboard
{% endblock title %}
{% block tasks %}
<!-- Task table -->
        <div class="bg-white rounded-xl shadow-sm">
          <div
            class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500"
          >
            <div>TASK TITLE</div>
            <div>PRIORITY</div>
            <div>TEAM</div>
            <div>CREATED AT</div>
          </div>
       
          <!-- task items 1-->
          <div class="divide-y divide-gray-100">
           {% for task in tasks  %}
            <div class="grid grid-cols-4 p-4 gap-4 items-center">
              <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-500 rounded-full"></div> 
                <span> {{task.title}} </span>
               <form action="{% url 'update-task' task.id %}" method="POST">
                {% csrf_token %}
                <button class="bg-blue-800 p-1 font-semibold">Edit</button>              
               </form>
               <form action="{% url 'delete-task' task.id %}" method="POST">
                {% csrf_token %}
                  <button class="bg-red-600 p-1 font-semibold">Delete</button>              
               </form>
              </div>
              <div>
                <span
                  class="px-3 rounded-full bg-blue-50 text-blue-500 py-1 text-sm"
                  > {{task.details.get_priority_display}} </span
                >
              </div>
              <div>
                <div class="flex -space-x-2">
                  {% for emp in task.assigned_to.all %}
                    <div
                    class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white"
                  >
                  {{emp.name|slice:':2'}}
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
              <div>
                <span class="text-gray-500"> {{task.created_at|timesince}} </span>
              </div>
            </div>
             
           {% endfor %}
          </div>
      
        </div>
    {%endblock tasks%}