.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding :px;
  margin: auto;
  border: 2px solid gray;
}
.counter-container{
  text-align: center;
  font-family: sans-serif;
  border: 1px solid black;
  box-shadow: 4px 4px 6px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  
}
.count-display{
  font-size: 5em;
  margin:5%;

}
.counter-btn{
  max-width: 250px;
  height: 50px;
  font-size: 1.5em;
  /* margin:5%; */
  background-color: aquamarine;
  color: rgb(0, 0, 0);
  border:none;
  cursor: pointer;
  border-radius: 10px;
  margin: 3%;
  font-weight: bold;
}
.color-picker-container{
  margin: auto;
  font-size: 2em;
  max-width: 500px;
  max-height: fit-content;
  border: none;
  box-shadow: 4px 4px 8px;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.color-display{
  margin: auto;
  max-width: 300px;
  align-items: center;
  text-align: center;
  border: none;
  height: 200px;
}
