<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Management</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-[linear-gradient(60deg,#2E1F1B,#5E4B43)] w-full">
    <header>
      <nav>
        <div class="text-white grid grid-cols-8 gap-2 p-5">
          <div class="col-start-1 font-semibold text-xl p-5 flex justify-center items-center w-full bg-green-500 rounded-full ">Logo</div>
          <div class="text-lg flex col-start-2 col-end-8 gap-6 center justify-center p-2  items-center">
            <h1 class="hover:text-green-200 cursor-pointer font-semibold"><a href="">Home</a></h1>
            <h1 class="hover:text-green-200 cursor-pointer font-semibold"><a href="">Services</a></h1>
            <h1 class="hover:text-green-200 cursor-pointer font-semibold"><a href="">Contact</a></h1>
          </div>
          <div class=" col-start-8 p-2 col-end-8 flex justify-center align-center font-bold text-sm">
            <button class="text-blue-600 bg-white p-3 rounded-full  hover:bg-gray-200 hover:text-green-400"><a href="login.html">LogIn/Register</a></button>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN -->
    <main>
        
    </main>
    <!-- FOOTER -->
    <footer></footer>
  </body>
</html>
