.blog_slogan {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;

  max-width: 0;
  animation: typing 11s steps(55, end) infinite,
             blink 5s step-end infinite;
}

@keyframes typing {
  0% {
    max-width: 0;
  }

  70% {
    max-width: 55ch; /* typing done */
  }

  100% {
    max-width: 0;   /* reset for next loop */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}